* {
  padding: 0;
  margin: 0;
}
html,
body,
#app {
  width: 100%;
  height: 100%;
}
canvas {
  border-radius: 20px;
}
.seller,
.trend {
  height: 100%;
  width: 100%;
}
.seller .seller_contain,
.trend .seller_contain,
.seller .trend_contain,
.trend .trend_contain {
  height: 100%;
  width: 100%;
}
