* {
  padding: 0;
  margin: 0;
}
html,
body,
#app {
  width: 100%;
  height: 100%;
}
canvas {
  border-radius: 20px;
}
.seller,
.trend,
.map,
.rank,
.hot,
.stock {
  height: 100%;
  width: 100%;
}
.seller .seller_contain,
.trend .seller_contain,
.map .seller_contain,
.rank .seller_contain,
.hot .seller_contain,
.stock .seller_contain,
.seller .trend_contain,
.trend .trend_contain,
.map .trend_contain,
.rank .trend_contain,
.hot .trend_contain,
.stock .trend_contain,
.seller .map_contain,
.trend .map_contain,
.map .map_contain,
.rank .map_contain,
.hot .map_contain,
.stock .map_contain,
.seller .rank_contain,
.trend .rank_contain,
.map .rank_contain,
.rank .rank_contain,
.hot .rank_contain,
.stock .rank_contain,
.seller .hot_contain,
.trend .hot_contain,
.map .hot_contain,
.rank .hot_contain,
.hot .hot_contain,
.stock .hot_contain,
.seller .stock_contain,
.trend .stock_contain,
.map .stock_contain,
.rank .stock_contain,
.hot .stock_contain,
.stock .stock_contain {
  height: 100%;
  width: 100%;
}
